.shop-class .jewelrys-heading, 
.shop-class .stones-heading {
    display: none;
}
.shop-class .stones-class,
.shop-class .jewelrys-class {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0px 100px 100px;
}

.shop-class img {
    border-radius: 50%;

}



.heading-shop {
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        font-size: 1.7rem;
        color: #287e75;
        padding: 40px 100px 30px 20px;
        border-top: gray solid 0.5px;
        margin: 3px 0px 0px 0px;
        text-transform: uppercase;
}



@media (max-width: 1608px) {
    .heading-shop {
        padding: 40px 100px 40px 80px;
        font-size: 1.7rem;
    }
    .shop-class .jewelrys-class footer,
    .shop-class .stones-class footer {
        font-size: 1rem;
    }
    .shop-class .jewelrys-class footer h5,
    .shop-class .stones-class footer h5 {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .heading-shop {
        padding: 40px 100px 30px 20px;
        font-size: 1.5rem;
    }
    .shop-class .stones-class,
    .shop-class .jewelrys-class {
        display: grid;
        grid: 1fr / 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 0px 10px 10px;
    }
    .shop-class .jewelrys-class footer,
    .shop-class .stones-class footer {
        font-size: 0.8rem;
    }
    .shop-class .jewelrys-class footer h5,
    .shop-class .stones-class footer h5 {
        font-size: 0.8rem;
    }
}