.shop-class .jewelry-heading, 
.shop-class .heading-stones {
    display: none;
}

.heading-shop {
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        font-size: 1.7rem;
        color: #287e75;
        padding: 40px 100px 30px 20px;
        border-top: gray solid 0.5px;
        margin: 3px 0px 0px 0px;
        text-transform: uppercase;
}

@media (max-width: 1608px) {
    .heading-shop {
        padding: 40px 100px 40px 80px;
        font-size: 1.7rem;
    }
}

@media (max-width: 768px) {
    .heading-shop {
        padding: 40px 100px 30px 20px;
        font-size: 1.5rem;
    }
}