.stones-heading{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-size: 1.7rem;
    color: #287e75;
    padding: 40px 100px 30px 20px;
    border-top: gray solid 0.5px;
    margin: 3px 0px 0px 0px;
    text-transform: uppercase;
}
.stones-class {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
    background-color: white;
}
@media (max-width: 1608px) {
    .stones-class{
    margin-top: 0px ;
    }

    .stones-heading {
        padding: 40px 100px 40px 80px;
    }
}

@media (max-width: 768px) {
    .stones-class {
        grid: 1fr / 1fr 1fr;
    }
    .stones-heading {
        padding: 40px 100px 30px 20px;
        font-size: 1.5rem;
    }
}

@media (max-width: 375px) {
    .stones-class {
        grid: 1fr / 1fr;
    }
}