
.stones-class footer {
    color: #22525e;
    font-size: 1.3rem;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;

}

.stones-class h5 {
    color: #DCB042;
    font-size: 1rem;
}


.stones-class img {
    width: 100%;
    padding:2.5%;
}
