.details-stones {
    background-color: rgb(238, 238, 238);
    margin: 0px;
    color: #22525e;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    padding-bottom: 40px;
}

.details-stones h2 {
    font-size: 2.2rem;
    padding: 100px 30px 0px 30px;
    text-align: center;
}

.details-stones img {
    width: 45%;
    height:45%;
    display: flex;
    justify-content: left;
    padding: 100px 40px;
}

.details-stones-box {
    justify-content: center;
    width: 100%;
}

.details-stones-info {
    margin: 20px 60px;
}
.details-stones-price {
    color: #DCB042;
    font-size: 1rem;
    font-size: 1.4rem;
}

@media screen and (max-width: 768px){
    .details-stones {
        background-color: rgb(238, 238, 238);
        margin: 0px 0px;
        color: #22525e;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details-stones img {
        width: 400px;
        height: 380px;
        padding: 30px 40px;
    }
    .details-stones-info {
        justify-content: center;
        padding: 10px;
    }
    .details-stones-box {
        justify-content: center;
    }
    .details-stones h2 {
        font-size: 1.5rem;
        padding: 5px;
    }
}