.jewelrys-class {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
    background-color: white;
}

.jewelrys-class footer {
    color: #22525e;
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;

}

.jewelrys-class h5 {
    color: #DCB042;
    font-size: 1rem;
    
}

.jewelrys-class img {
    width: 100%;
    padding: 2.5%;

}

.jewelrys-heading{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-size: 1.7rem;
    color: #287e75;
    padding: 40px 100px 30px 20px;
    border-top: gray solid 0.5px;
    margin: 3px 0px 0px 0px;
    text-transform: uppercase;
}

@media (max-width: 1608px) {
    .jewelrys-class{
    margin-top: 0px ;
    }

    .jewelrys-heading {
        padding: 40px 100px 40px 80px;
    }
}

@media (max-width: 768px) {
    .jewelrys-class {
        grid: 1fr / 1fr 1fr;
    }
    .jewelrys-heading {
        padding: 40px 100px 0px 20px;
        font-size: 1.5rem;
    }
}

@media (max-width: 375px) {
    .jewelrys-class {
        grid: 1fr / 1fr;
        padding: 25px 25px 0px 25px;
    }
}