.header {
    background-color: white;
    justify-content: center;
    display: flex;
    
    }
    
    
    .navbar-brand {
        width: 160px;
        height:130px;
        margin: 0px 40px;
       
    }