.navbar-navbar {
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: inherit;
    grid-gap: 10px;
    list-style-type: none;
    height: 100%;
    width: auto;
    padding: 10px 0px 0px 0px;
}

