.socialmedia-icon a {
    margin: 8px;
    color: #22525e;
}



.socialmedia-icons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    margin: 1px
}

a span {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}