:root {
  --mainblue:#27788d;
  --lightblue:#22525e;
  --gold:#7a641a;
  --dark:#000000;
  --mainwhite:#f7f6f5;
}

body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  background-color: var(--mainwhite) !important;
  
}

.text-title {
  font-family: 'Crimson Text', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;

}



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav-links {
  overflow: hidden;
  height: 0;
  
}